{% extends "base.html" %}

{% block title %}
Blog.Lite | Delete Blog
{% endblock %}

{% block content %}
<div class="container">
<h2 class="text-center fw-bold text-decoration-underline fs-1">{{blog.title}}</h2><br/>
<p class="text-left fs-4">{{blog.caption|safe}}</p>
<p class="text-muted fs-6">{{blog.timestamp}}</p><br/><br/><br/>
<form method="POST">
    <div class="mb-3">Are you sure you want to delete this post?</div>
    <button type="submit" class="btn btn-primary">Yes</button>
    <a class="btn btn-primary" href="{{ url_for('controllers.dashboard') }}">No</a>
</form>
</div>
{% endblock %}
