{% extends "base.html" %} 
{% block title %}
Blog.Lite | Login
{% endblock %}
{% block content %}
<div class="container">
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email:</label>
        <input 
        class="form-control"
        type="email" 
        id="email" 
        name="email"/>
        <label for="password">Password:</label>
        <input 
        class="form-control"
        type="password" 
        id="password" 
        name="password"/>
        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form>
</div>
{% endblock %}